<DOCTYPE html>
    <head><title>About Page</title></head>
    <body>
        <div class="about-section" style="background-color:coral;text-align:center">
            <h1>About Us Page</h1>
            <p>Food website gives you lot of Coupons for various Products</p>
            <p>Collection Special Coupons from various Websites like Swicy,freshmeats like websites.</p>
          </div>
          
          <div class="row">
            <div class="column">
              <div class="card">
                <div style="display:flex;justify-content:center">
                <img src= "{{ url_for('static',filename='images/logo.png')}}" alt="Jane" style="align-items:center;width:20%;height:30%" >
                </div>
                <div class="container" style="background-color:grey;text-align:center">
                  <h2>Jane Doe</h2>
                  <p class="title">CEO & Founder</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>jane@example.com</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          
    </body>
    </html>